    .bloque-top{ top:0px; height:55px; width:100%; position:relative;float: right; };
    .bloque-bottom{ bottom:0px; height:130px; width:100%; };
    .responsive-header{background-color: #fff};




.logintext{
  text-align: center;
  top:0px;
}
.loginbutton{
  padding-bottom: 5px;
}
.dropdownnav{
  width: 20px;
  font-size: 36px;
  margin-top: 20px;
}
.appBasket-controls-adj{
  padding-left: 50px;
}
.nopadding{
  padding: 0;
}

@media (max-width: 440px) {
  .bloque-top{ height:140px; }
  .block{display: block; list-style: none;}
  
}

.fixed-bottom{
  width: 90%;
  z-index: 11;
  padding-left:-10px;
  height:100px;
  position:fixed;
  display: block;
  margin: 0 auto;
  bottom:0px;
  border: 1px solid #F1F1F1;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  box-shadow: 1px 1px 2px #DDD;
  padding: 0 auto;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 0 5px 5px;
        @media screen and (min-width: $bp-medium) {
    max-width: $page-max-width;
  }
  @extend %clearfix;
};

.fixed-top-left{
	white-space: nowrap;
	top:0px;
    position: fixed;
    left:0px;
    width: 30%;
    z-index:9;
};

.float-right {
    right:0px;
    float:right;
    display: block;
    width: auto;
    position:relative;
    min-height: 100%;
    margin: 0 auto;
    width: 100%;
      @media screen and (min-width: $bp-medium) {
    max-width: $page-max-width;
  }
  @extend %clearfix;
}

.custom-restricted {
    height: 100px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 4px;
}

